<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        .block1 {
            width: 200px;
            background: #aaffaa;
            padding: 5px;
            padding-right: 20px;
            float: left;
        }

        .block2 {
            width: 200px;
            background: #fc0;
            padding: 5px;
            border: solid 1px black;
            float: left;
            position: relative;
            top: 40px;
            left: -70px;
        }
    </style>
</head>
<body>
<div class="block1">
    <a href="productlist">Products</a>
    <br>
    <a href="sales">Sales</a>
    <br>
    <a href="purchases">Purchases</a>
</div>

</body>
</html>